In [1]:
import pandas as pd
from collections import defaultdict
from os import getcwd

In [2]:
PATH_COVID   = f"{getcwd()}/Data Store/covid-19.csv"

In [3]:
df = pd.read_csv(PATH_COVID)
df.head()

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio (%),Discharge Ratio (%),Death Ratio (%)
0,Maharashtra,6214190,106809,5980350,127031,1.72,96.24,2.04
1,Kerala,3160937,125535,3020052,15350,3.97,95.54,0.49
2,Karnataka,2883947,29314,2818476,36157,1.02,97.73,1.25
3,Tamil Nadu,2535402,27897,2473781,33724,1.10,97.57,1.33
4,Andhra Pradesh,1940096,24708,1902256,13132,1.27,98.05,0.68

In [4]:
print(f"It is {pd.Series(df['State/UTs']).is_unique}  that the column 'StateUTs' has unique values for all entries in movies dataframe.")

It is True  that the column 'StateUTs' has unique values for all entries in movies dataframe.

In [5]:
covid_dic = {}
df_state = df['State/UTs'].tolist()

In [6]:
x = 0
for i in df_state:
    covid_dic[i] = x
    x= x+1
print(covid_dic)

{'Maharashtra': 0, 'Kerala': 1, 'Karnataka': 2, 'Tamil Nadu': 3, 'Andhra Pradesh': 4, 'Uttar Pradesh': 5, 'West Bengal': 6, 'Delhi': 7, 'Chhattisgarh': 8, 'Odisha': 9, 'Rajasthan': 10, 'Gujarat': 11, 'Madhya Pradesh': 12, 'Haryana': 13, 'Bihar': 14, 'Telengana': 15, 'Punjab': 16, 'Assam': 17, 'Jharkhand': 18, 'Uttarakhand': 19, 'Jammu and Kashmir': 20, 'Himachal Pradesh': 21, 'Goa': 22, 'Puducherry': 23, 'Manipur': 24, 'Tripura': 25, 'Chandigarh': 26, 'Meghalaya': 27, 'Arunachal Pradesh': 28, 'Mizoram': 29, 'Nagaland': 30, 'Sikkim': 31, 'Ladakh': 32, 'Dadra and Nagar Haveli and Daman and Diu': 33, 'Lakshadweep': 34, 'Andaman and Nicobar': 35}

In [7]:
df['State/UTs'][df['State/UTs'] == 'Maharashtra']

0    Maharashtra
Name: State/UTs, dtype: object

In [8]:
df_dic = {}
x = 0
for i in df_state:
    df_dic[x] = {
        'state':df.iloc[x,0],
        'totalCase':df.iloc[x,1],
        'active':df.iloc[x,2],
        'discharged':df.iloc[x,3],
        'deaths':df.iloc[x,4],
        'activeRatio':df.iloc[x,5],
        'dischargedRatio':df.iloc[x,6],
        'deathRatio':df.iloc[x,7],
    }
    x = x +1

In [9]:
%store df_dic
%store covid_dic

Stored 'df_dic' (dict)
Stored 'covid_dic' (dict)